<div *ngIf="book" >
  <form #bookForm="ngForm" (ngSubmit)="onSubmit(bookForm)">
    <div hidden>
      <label>
        Id
        <br>
        <input type="number" name="id" ngModel [(ngModel)] = "book.id">
      </label>
    </div>
    <div>
      <label>
        Title
        <br>
        <input type="text" name="title" ngModel [(ngModel)] = "book.title">
      </label>
    </div>
    <div>
      <label>
        Author
        <br>
        <input type="text" name="author" ngModel [(ngModel)] = "book.author">
      </label>
    </div>
    <div>
      <label>
        Description
        <br>
        <input type="text" name="description" ngModel [(ngModel)] = "book.description">
      </label>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>

